// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

/**** Reduce PlacesSidebar height ****/
placessidebar row {
	min-height: 16px;
}

/**** Make titlebar height more 'compact' ****/
.titlebar.default-decoration {
  min-height: 16px;

  button.titlebutton {
  	min-height: 16px;
  	min-width: 16px;
  }
}

/* shrink headerbars (don't forget semicolons after each property) */
headerbar {
    min-height: 1px;
    padding-left: 1px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 1px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 1px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 1px;
}

/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 0px;
}

.default-decoration .titlebutton {
    min-height: 1px; /* tweak these two props to reduce button size */
    min-width: 1px;
}

window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 1px;
    padding-bottom:1px;
    min-height: 0;
}
/**** Fix slimmed circular buttons ****/
* { & button.circular { min-width: 0; } }

/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
headerbar {
	hdyviewswitcher {
		button.radio {
			box {
				&.horizontal.wide {
					margin: -6px 0;
				}
				
				&.vertical.narrow {
					margin: -3px 0;
				}
			}
		}
		
		label { margin: -2px 0; }
	}
}

/**** Context menu tweaks ****/
// Derived from yaru-theme
decoration {
	$_wm_border: if($variant == 'light', transparentize(black, 0.77), transparentize($borders_color, 0.1));

	.csd.popup & {
		border-radius: $menu_radius;
		box-shadow: 0 1px 2px 1px transparentize(black, 0.7),
					0 0 0 1px $_wm_border;
	}
}
